<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721702491604-lt9jmb3p9doa82hqikqqd7cq6ttjgh60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721702491604-lt9jmb3p9doa82hqikqqd7cq6ttjgh60</string>
	<key>API_KEY</key>
	<string>AIzaSyDzJYMPWOEtCFW3jU3_uKNp1-v3TxLk6lM</string>
	<key>GCM_SENDER_ID</key>
	<string>721702491604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.therese.Carol</string>
	<key>PROJECT_ID</key>
	<string>carol-fd414</string>
	<key>STORAGE_BUCKET</key>
	<string>carol-fd414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721702491604:ios:c79ad02d9e8fb9a3b8f241</string>
</dict>
</plist>